---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About us">
  <header>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </header>

  <main>
    <h1>About us</h1>
  </main>
</Layout>
