---
import Social from "./Social.astro";
---

<footer>
  <nav>
    <ul>
      <Social platform="github" username="DaNiels89" />
      <Social platform="twitter" username="renewware" />
    </ul>
  </nav>
</footer>

<style>
  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
