---
---

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/tags/">Tags</a></li>
</ul>

<style>
  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
